h1{
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.controls{
    text-align: center;
}

button{
    background-color: lightsteelblue;
    padding: 20px;
    width: 200px;
    height: 100px;
    border-style: groove;
    border-radius: 15px;
    transition: .5s;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button:hover{
    background-color: steelblue;
    color: darkblue;
    font-weight: 600;
}

.players {
    display: flex;
    justify-content: space-between;
    background-color: blue;
}

.user {
    border: solid;
    width: 50%;
    text-align: center;
    background-color: lightblue;
}

.computer {
    border: solid;
    width: 50%;
    text-align: center;
    background-color: lightskyblue;
}

img{
    border-radius: 50%;
}

p{
    text-align: center;
}

.restartbox{
    text-align: center;
}

.restart-button{
    width: 20%;
}